/* ==================================== */
/* Definitions */
:root {
  --c1: #FFFFFF;
  --c2: #F5F5F5;
  --c3: #ded5d5;
  --c4: #8d8686;
  --c5: #757575;
  --c6: #5b5757;
  --c7: #212121;
  --c8: #000000;

  --p1: #943B07;
  --p2: #B5520B;
  --p3: #D97726;
  --p4: #D35400;
}

.dark {
  --c1: #100F16;
  --c2: #21202B;
  --c3: #383745;
  --c4: #4B4958;
  --c5: #797787;
  --c6: #B3B0C3;
  --c7: #CECBE1;
  --c8: #EDEBFD;

  --p1: #9D7B00;
  --p2: #D8A800;
  --p3: #FFC701;
  --p4: #FFD43A;
}

@font-face {
  font-family: 'Lato';
  font-weight: normal;
  src: url('/fonts/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: bold;
  src: url('/fonts/lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  src: url('/fonts/lato/Lato-Italic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: bold;
  src: url('/fonts/lato/Lato-BoldItalic.ttf');
}

/* ==================================== */
/* Normal size text for mobile portrait */
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* ==================================== */
/* Body */
body {
  max-width: 80ch;
  background: var(--c2);
  color: var(--c7);
  font-family: Lato, sans-serif;
  font-size: 18px;

  fill: var(--c7);
  stroke: var(--c7);

  transition: background-color 0.2s ease, color 0.2s ease;
}

code {
  background-color: var(--c3);
  padding: 0.15em 0.35em;
  border-radius: 3px;
  font-size: 14px;
  /* Astro uses the following font-size on their website. */
  /* font-size: .8125rem */
  /* Their base font size is 1em. */
  white-space: nowrap;
  color: var(--c6);
  box-shadow: 1px 1px 3px var(--c1);
}

pre {
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
}

pre code {
  all: unset;
}

a {
  text-decoration: none;
}

.subtitle {
  color: var(--c6);
}

/* ==================================== */
/* Top navigation */
header {
  margin: 0;
}

.topnav {
  overflow: hidden;
  margin-top: 12px;
  padding: 16px 0px 16px 0px;
  /* background-color: var(--c1); */

  /* Enable Flexbox on the parent container */
  /* display: flex; */
  /* Distribute space: push the last item to the right */
  /* justify-content: space-between;  */
  /* Vertically align items in the center */
  /* align-items: center; */
}

.topnav svg {
  fill: var(--c6);
  stroke: var(--c6);
}

.topnav a {
  float: left;
  color: var(--c6) !important;
  text-align: center;
  margin-right: 14px;
  text-decoration: none;
  font-size: 21px;
}

.topnav a:hover {
  color: var(--c8) !important;
}

.topnav a.name {
  color: var(--p4) !important;
}

.topnav .dont-break {
  display: inline-block;
  margin-bottom: -5px;
  vertical-align: bottom;
}

/* ==================================== */
/* Links */
a:link {
  color: var(--p3);
}

a:visited {
  color: var(--p2);
}

a:active {
  color: var(--p4);
}

/* ==================================== */
/* Headers */
.header {
  /* font-style: italic; */
  color: var(--c5);
}

/* ==================================== */
/* Profile image */
.profile {
  border-radius: 10%;
}

/* ==================================== */
/* Footer */
footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.1rem solid var(--c4);
  color: var(--c5);
  font-size: 1rem !important;
  clear: both;
}

.go-center {
  height: initial;
}

.go-left {
  height: initial;
}

/* ==================================== */
/* Dark mode code */
.dark .astro-code,
.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

/* ==================================== */
/* Responsiveness */
@media (max-width: 379px) {
  body {
    width: 90%;
    margin: 0 auto;
  }

  footer {
    text-align: center;
  }

  figure {
    margin: 0;
  }

  .logo {
    text-align: center;
    margin: 1rem auto 1.0em;
  }

  .logo a {
    font-size: 2.4rem;
  }

  .profile {
    /* width: 80%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .go-left {
    width: 90% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .go-center {
    width: 100% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 380px) {
  body {
    width: 90%;
    margin: 0 auto;
  }

  footer {
    text-align: right;
  }

  .logo {
    text-align: center;
    margin: 1rem auto 2rem;
  }

  .logo a {
    font-size: 2.4rem;
  }

  .profile {
    /* width: 70%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .go-left {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .go-center {
    width: 80% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 600px) {
  body {
    /* max-width: 600px; */
    margin: 0 auto;
    /* padding: 0 5%; */
  }

  nav a {
    display: inline-block;
  }

  footer {
    text-align: right;
  }

  .logo {
    text-align: center;
    margin: 1rem auto 2rem;
  }

  .logo a {
    font-size: 2.4rem;
  }

  .profile {
    float: left;
    margin-right: 1.6rem;
    margin-bottom: 1.3rem;
    /* width: 30%; */
  }

  .go-left {
    float: left;
    margin-right: 1.6rem;
    margin-bottom: 1.6rem;
    width: 40%;
  }

  .go-center {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1050px) {
  body {
    /* max-width: 50rem; */
    margin: 0 auto;
    /* padding: 0; */
  }

  footer {
    text-align: right;
  }

  .logo {
    margin: 0;
    text-align: left;
  }

  .logo a {
    float: left;
    font-size: 1.8rem;
  }

  .profile {
    float: left;
    margin-right: 1.6rem;
    margin-bottom: 1.6rem;
  }

  .go-left {
    float: left;
    margin-right: 1.6rem;
    margin-bottom: 1.6rem;
    width: 40%;
  }

  .go-center {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}