---
import ThemeIcon from "../components/ThemeIcon.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{pageTitle ?? "sandalo.dev"}</title>
  </head>

  <body>
    <header>
      <nav class="topnav">
        <a class="name" href="/"><b>Eduardo Sandalo Porto</b></a>
        <div class="dont-break">
          <a href="/">home</a>
          <a href="/projects">projects</a>
          <a href="/posts">posts</a>
          <a href="/cv.pdf">cv</a>
          <ThemeIcon />
        </div>
      </nav>
    </header>

    <main role="main">
      <slot />
    </main>

    <footer>
      my <a href="https://github.com/edusporto/sandalo.dev">source code</a>
    </footer>
  </body>
</html>
